% include('templates/header.tpl', title='Add to Table')
% # requires an arr 'tables'

<form method="post" action="/create">
Pick a table: 
% include('templates/dropdown.tpl',options=tables, name='table_name')
<input type="submit" value="Submit" />
</form>

% include('templates/footer.tpl')