% setdefault('title','CS 425 Leather Store')
<html>
<head>
<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="/styles/style.css" />
</head>
<body>
<h2 align="center">CS 425 Leather Store</h2>
<a href="/">Home Page</a><br /><br />